<nav class="hidden-xs-down sidebar">

  <div class="sidemenuProfileInfo">
    <img src="../Main//avatar2.png" class="rounded-circle profileImg mx-auto d-block">

    <div class="sidemenuProfileName">
      {{currentUser.firstName}}
    </div>
    <div class="sidemenuProfileRole">
      {{currentUser.role}}
    </div>
  </div>

  <ul class="nav nav-pills flex-column">
    <li class="nav-item" (click)="menuItem('feed')">
      <div class="row">
        <img class="menuIcon" [src]="currentMenuItem == 'feed' ? '../Main//ico-feed-on.svg' : '../Main//ico-feed-off.svg'">
        <span class="customMenuItem" [ngClass]="{'active': currentMenuItem == 'feed'}">Feed</span>
      </div>
    </li>
    <li class="nav-item" (click)="menuItem('progress')">
      <div class="row">
        <img class="menuIcon" [src]="currentMenuItem == 'progress' ? '../Main//ico-progress-on.svg' : '../Main//ico-progress-off.svg'">
        <span class="customMenuItem" [ngClass]="{'active': currentMenuItem == 'progress'}">Progress</span>
      </div>
    </li>
    <li class="nav-item" (click)="menuItem('events')">
      <div class="row">
        <img class="menuIcon" [src]="currentMenuItem == 'events' ? '../Main//ico-events-on.svg' : '../Main//ico-events-off.svg'">
        <span class="customMenuItem" [ngClass]="{'active': currentMenuItem == 'events'}">Events</span>
      </div>
    </li>
    <li class="nav-item" (click)="menuItem('assessment')">
      <div class="row">
        <img class="menuIcon" [src]="currentMenuItem == 'assessment' ? '../Main//ico-assessment-on.svg' : '../Main//ico-assessment-off.svg'">
        <span class="customMenuItem" [ngClass]="{'active': currentMenuItem == 'assessment'}">Assessment</span>
      </div>
    </li>
    <li class="nav-item" (click)="menuItem('team')">
      <div class="row">
        <img class="menuIcon" [src]="currentMenuItem == 'team' ? '../Main//ico-team-on.svg' : '../Main//ico-team-off.svg'">
        <span class="customMenuItem" [ngClass]="{'active': currentMenuItem == 'team'}">Team</span>
      </div>
    </li>
    <li class="nav-item" (click)="menuItem('library')">
      <div class="row">
        <img class="menuIcon" [src]="currentMenuItem == 'library' ? '../Main//ico-library-on.svg' : '../Main//ico-library-off.svg'">
        <span class="customMenuItem" [ngClass]="{'active': currentMenuItem == 'library'}">Library</span>
      </div>
    </li>
  </ul>

</nav>