.cid-qPEkyMk18A {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
  position: relative;
}
.cid-qPEkyMk18A p {
  color: #767676;
}
.cid-qPEkyMk18A .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-qPEkyMk18A .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-qPEkyMk18A .card .card-header a.panel-title {
  margin-bottom: 0;
  margin-top: -1px;
  font-weight: 500;
  font-style: normal;
  display: block;
  text-decoration: none !important;
  line-height: normal;
}
.cid-qPEkyMk18A .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-qPEkyMk18A .card .card-header a.panel-title h4 {
  border: 1px solid #dfdfdf;
  padding: 1.3rem 2rem;
  margin-bottom: 0;
}
.cid-qPEkyMk18A .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}

@media (min-width: 1200px){
    .privPolicy {
        max-width: 1470px;
    }
}
    