<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top customNavbar">
  <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand customNavbarBrand" href="#">Active Manager</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="nav navbar-nav customNavbarNav ml-auto">
      <li class="navbarElem">
        <input class="btn btn-lg customCreateBtn" type="submit" value="New" (click)="new()">
      </li>

      <li class="navbarElem navbarElemIcon">
        <img src="../Main//question.svg">
      </li>

      <li class="navbarElem navbarElemIcon navbarElemIconRight">
        <img src="../Main//settings.svg">
      </li>
    </ul>
  </div>
</nav>