.mainBody{
    margin-left: 180px;
    margin-right: -15px;
    padding-bottom: 20px;
}

.innerBodyContainerHeader{
    padding: 0px 80px 0px 45px;
    width:100%;
}

.innerBodyContainer{
    padding: 0px 7px 0px 30px;
    width:100%;
}

.xOverflowHidden{
    overflow-x: hidden !important;
}

.avatarSideMenu{
    max-width: 90px;
}

.teamMembersSideMenu{
    padding-bottom:50px !important;
}

.teamMemberAvatarDiv{
    margin-top:20px;
    min-width: 65px;
}

.profileImgSidemenu{
    height:50px;
    width:50px;
}

.fullHeight{
    height:100vh !important;
    border-right: solid 1px #d8dae0;
}

.subSideMenu{
    padding-left:23px;
    min-width: 200px;
}

.subMenuItem{
    font-family: Arial;
	font-size: 12px;
	line-height: 1.25;
	text-align: left;
    color: #b8bcca;
    
    margin-top:20px;
}

.subMenuItem.active{
    color: #404562;
}

.subMenuItem:hover{
    color: #404562;
    cursor: pointer;
}

.nav-item{
	margin-top:30px;
	cursor: pointer;
}

.nav-item.active{
	font-weight: bold;
	color: #404562 !important;
}

.customMenuItem.active{
	font-weight: bold;
	color: #404562 !important;
}

.nav-item:hover{
	font-weight: bold;
	color: #404562 !important;
}

.customMenuItem{
	font-family: Arial;
	font-size: 14px;
	text-align: left;
	color: #b8bcca;
	margin-left:10px;
}

.menuIcon{
	margin-right:5px;
}

/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

.wrapper {
    
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
}

/* #wrapper.toggled {
    padding-left: 250px;
} */

.wrapperC.toggled{
    padding-left: 330px;
}

.wrapperTL.toggled{
    padding-left: 250px;
}

.noPaddingRight{
    padding-right:0px !important;
}

.noPaddingLeft{
    padding-left:0px !important;
}

.sidebar-wrapper {
    position: fixed;
    left: 200px;
    z-index: 1000;
    overflow-y: auto;
    width: 0;
    height: 100%;
    background: #ffffff;

    box-shadow: 4px 0 5px 0 rgba(0, 0, 0, 0.4);
	border: solid 1px #f0f1f6;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.wrapperTL.toggled .sidebar-wrapperTL {
    width: 250px;
}

.wrapperC.toggled .sidebar-wrapperC {
    width: 330px;
}

#page-content-wrapper {
    padding: 15px;
    width: 100%;
}

.wrapperTL.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

.wrapperC.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -330px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    width: 250px;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    color: #999999;
    text-decoration: none;
}

.sidebar-nav li a:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    background: none;
    color: #fff;
}

/* @media (min-width: 768px) {
    #wrapper {
        padding-left: 320px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 320px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
} */

.mainBodyHeader{
    font-family: Arial;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.2;
	text-align: left;
    color: #404562;
    
    height:70px;

    margin-bottom: -15px;
}

.bodyHeaderBtn{
    margin-right: 10px;
}