
.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(33.33%);
}

.carousel-inner .carousel-item-left.active, 
.carousel-inner .carousel-item-prev {
  transform: translateX(-33.33%)
}
  
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

.teamImage{
    border-radius: 50%;
    margin-bottom: 35px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.slider {
    width: auto;
    margin: 30px 50px 50px;
}

.slick-slide {
    /* background: #3a8999; */
    color: white;
    padding: 40px 0;
    font-size: 30px;
    font-family: "Arial", "Helvetica";
    text-align: center;
}

.slick-prev:before, 
.slick-next:before {
    color: black;    
}

.slick-dots {
    bottom: -30px;
}

.slick-slide:nth-child(odd) {
    /* background: #e84a69; */
}

.mailItem{
    padding-top: 2px;
    padding-right: 4px;
}

.userSelectionText{
    min-height: 100px;
}

.bw{
    filter: grayscale(100%);
}

.pulseCustom {
  	box-shadow: 0 0 0 rgba(204,169,44, 0.4) !important;
  	animation: pulseCustomAnimation 1.7s infinite !important;
}

.pulseCustom:hover {
  	animation: none;
}

@-webkit-keyframes pulseCustomAnimation {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(132, 132, 132, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 10px 20px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulseCustomAnimation {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(132, 132, 132, 0.4);
    box-shadow: 0 0 0 0 rgba(132, 132, 132, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 10px 20px rgba(204,169,44, 0);
      box-shadow: 0 0 10px 20px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

#content12-30{
    padding-top:60px !important;
}

#content1-2s{
    padding-bottom:50px !important;
}